.spin{
	width:100%;
}

.gutter-example{
	width: 100%;

}

.gutter-example:after{
	display:block;
	content: "";
	visibility: hidden;
	clear: both;
}

.music-item{
	width:10.75%;
	margin-left: 2%;
	float: left;

}

.gutter-box {
  /*background: #00A0E9;*/
  /*padding: 5px 0;*/
  /*border: 1px solid black;
  height: 200px;*/
  width: 100%;
}

.music-pic{
	width:100%;
	padding-top: 100%;
	/*border:1px solid black;*/
	border-radius: 6px;
	position: relative;
}

.gutter-box .music-title{
	font-size: 12px;
}

.gutter-box .author{
	font-size: 12px;
	color: #B3B2B2;
}

.title{
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.play-icon{
	font-size: 30px;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 4px;
	bottom: 4px;
}

.play-icon:hover{
	color: blue;
	cursor:pointer;
}